
apt-get update -y;
apt-get install -y --no-install-recommends \
git gcc g++ valgrind cmake make autoconf build-essential vim net-tools openssl curl wget ca-certificates screen;

mkdir /usr/local/share/ca-certificates/cacert.org;
wget -P /usr/local/share/ca-certificates/cacert.org http://www.cacert.org/certs/root.crt http://www.cacert.org/certs/class3.crt;
update-ca-certificates;
git config --global http.sslCAinfo /etc/ssl/certs/ca-certificates.crt;
git clone https://github.com/ammarfaizi2/php8.0.2.git;

apt-get install -y --no-install-recommends \
re2c \
bison \
libkrb5-dev \
libxml2-dev \
libsqlite3-dev \
libcurl4-gnutls-dev \
libenchant-2-dev \
libwebp-dev \
libjpeg-dev \
libxpm-dev \
libgmp3-dev \
libonig-dev \
postgresql-server-dev-all \
libpspell-dev \
libedit-dev \
libsodium-dev \
libargon2-dev \
libtidy-dev \
libxslt1-dev \
libexpat1-dev \
libzip-dev \
libssl-dev \
libpng-dev \
libfreetype6-dev;
